.redirectToLogin .redirect {
    cursor: pointer;
    text-decoration: underline;
}
.container{
    margin: 0 auto;
}
.redirectToLogin .redirect {
    cursor: pointer;
    text-decoration: underline;
}
.col-lg-6{
    margin: 0 auto;
}
@media only screen and (max-width: 576px) {
    .content{
        margin-top: 25px;
    }
    h1{
        margin-top:35px;
    }
}
