nav{
    padding-top: 0px;
    padding-bottom: 0px;
}
.btn-nav{
    margin: 2px;
    padding: 5px;
}
.btn-primary{
    margin: 25px;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    color: aliceblue
}
.form-check-label{
    font-size: 20px;
    margin-left: 5px; 
 }
.col-lg{
    margin: 0 auto;
    padding: 0;
}
@media only screen and (max-width: 576px){
.navbar-brand{
    font-size: 16px;
}
.btn-nav{
    font-size:15px;
}
}